In [32]:
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv('F:\Studies\ML\challenge.csv')
df.sort_values(['fn','ln'],inplace=True)
df.reset_index(drop = True, inplace = True)

In [34]:
x = df.fn.drop_duplicates()
x.reset_index(drop = True, inplace = True)
x = x.to_frame('ufn')
y = x.copy(deep = True)

In [35]:
i = 0
while(i<len(x.index)):
    t = x.ufn.str.contains(x.loc[i,'ufn'])
    p = t.to_frame('ufn')
    j = i+1
    while(j<len(x.index)):
        if p.loc[j,'ufn'] == True:
            y.drop([j],inplace = True)
            j = j+1
            i = i+1
        else:
            j =j+1
    i = i+1
y.reset_index(drop = True,inplace = True)
y[:]

         ufn
0    ADDISON
1       BILL
2        BOB
3   CLARENCE
4   CLIFFORD
5       DARH
6       DARL
7     DONALD
8     GEORGE
9     HAROLD
10   HARRIET
11      JACK
12     JAMES
13      JOHN
14   KENNETH
15  LAWRENCE
16      OWAN
17      OWEN
18    ROBERT
19       RON
20       ROY
21    THOMAS
22   WILLIAM

In [36]:
d = df[:]['dob'] +' '+ df[:]['gn']
d = d.to_frame('pt')
d= d.pt.str.split(pat = ' ',expand = True)
d['ln'] = df[:]['ln']
d['fn'] = df[:]['fn']
d['fln'] = df[:]['fn'] + ' '+ df[:]['ln']
d_cols = ['dob','gn','ln','fn','fln']
d.columns = d_cols
d.drop_duplicates(subset = ['fln','dob'],inplace = True)
d.reset_index(drop = True, inplace = True)
d.head()

        dob gn           ln            fn                  fln
0  15/10/32  M  GALETICH JR       ADDISON  ADDISON GALETICH JR
1  24/11/34  M        HANNA       ADDISON        ADDISON HANNA
2  24/11/34  M        HANNA     ADDISON J      ADDISON J HANNA
3  24/11/34  M        HANNA  ADDISON JOHN   ADDISON JOHN HANNA
4  21/02/62  F     BLAND JR          BILL        BILL BLAND JR

In [37]:
a = pd.DataFrame(columns = ['fln','ln','dob'])  #final dataframe

In [56]:
b = 0
a = pd.DataFrame(columns = ['fln','ln','dob'])  #final dataframe
while(b<len(y.index)):
    ab = d.fn.str.contains(y.loc[b,'ufn'])
    a_b = ab.to_frame('noc')
    k = 0
    c = pd.DataFrame(columns = ['fln','ln','dob'])
    e = pd.DataFrame(columns = ['fln','ln','dob'])
    while(k<len(a_b.index)):
        if a_b.loc[k,'noc'] == True:
            c = c.append(d.loc[k,['fln','ln','dob']])
            k = k+1
        else:
            k = k+1
    c.reset_index(drop = True,inplace = True)
    e = c.copy(deep = True)
    if len(e.index) == 1:
        a = a.append(e,ignore_index = True)
        b = b+1
    else:
        f = 0
        while(f<len(c.index)):
            mn = c.ln.str.contains(c.loc[f,'ln'])
            m_n = mn.to_frame('noc')
            q = f+1
            while(q<len(c.index)):
                if (m_n.loc[q,'noc'] == True) & (c.loc[q-1,'dob'] == c.loc[q,'dob']):
                    e.drop([q],inplace = True)
                    q = q +1
                    f = f+1
                else:
                    q = q+1
            f = f+1
        e.reset_index(drop = True,inplace = True)
        a = a.append(e,ignore_index = True)
        b =b+1        
a.reset_index(drop = True,inplace = True)

In [57]:
a[:]

                     fln             ln       dob
0    ADDISON GALETICH JR    GALETICH JR  15/10/32
1          ADDISON HANNA          HANNA  24/11/34
2          BILL BLAND JR       BLAND JR  21/02/62
3      BOB MICHAELSON JR  MICHAELSON JR  09/04/47
4    CLARENCE GRIFFIN JR     GRIFFIN JR  07/05/37
5    CLIFFORD GRIFFIN JR     GRIFFIN JR  07/05/37
6        DARH GRIFFIN JR     GRIFFIN JR  07/10/37
7        DARL GRIFFIN JR     GRIFFIN JR  10/07/37
8        DARL GRIFFIN JR     GRIFFIN JR  07/05/37
9           DONALD CLARK          CLARK  09/02/45
10       GEORGE FAGEN JR       FAGEN JR  07/10/37
11      HAROLD CHAVAS JR      CHAVAS JR  07/10/37
12       HAROLD FAGEN JR       FAGEN JR  07/10/37
13    HAROLD HOUGHTON JR    HOUGHTON JR  07/10/37
14      HAROLD LARSON JR      LARSON JR  09/06/39
15      HAROLD MELVIN JR      MELVIN JR  07/10/37
16  HAROLD MICHAELSON JR  MICHAELSON JR  07/10/37
17    HAROLD MUSTAPHA JR    MUSTAPHA JR  07/10/37
18       HAROLD SMITH JR       SMITH JR  07/10/37
19        HARRIET FUNARO         FUNARO  06/12/37
20    JACK MICHAELSON JR  MICHAELSON JR  24/06/39
21    JACK MICHAELSON JR  MICHAELSON JR  09/06/39
22   JAMES MICHAELSON JR  MICHAELSON JR  24/06/39
23    ADDISON JOHN HANNA          HANNA  24/11/34
24          JOHN CAIN JR        CAIN JR  20/01/46
25            JOHN CLARK          CLARK  09/06/45
26            JOHN CLARK          CLARK  16/12/44
27          JOHN LIND JR        LIND JR  20/01/46
28    JOHN MICHAELSON JR  MICHAELSON JR  16/12/44
29    JOHN MICHAELSON JR  MICHAELSON JR  24/04/40
30    JOHN MICHAELSON JR  MICHAELSON JR  24/06/39
31       KENNETH LIND JR        LIND JR  31/01/46
32  LAWRENCE HOUGHTON JR    HOUGHTON JR  31/01/46
33      LAWRENCE LIND JR        LIND JR  31/01/46
34      OWAN MUSTAPHA JR    MUSTAPHA JR  11/03/47
35      OWEN MUSTAPHA JR    MUSTAPHA JR  11/03/47
36  ROBERT MICHAELSON JR  MICHAELSON JR  09/04/47
37        RON CARLSON JR     CARLSON JR  25/10/53
38          RONALD CLARK          CLARK  09/02/45
39        ROY CARLSON JR     CARLSON JR  25/10/53
40         ROY DUNCAN JR      DUNCAN JR  25/10/53
41        ROY MICHAELSON     MICHAELSON  25/10/53
42     ROY MICHAELSON JR  MICHAELSON JR  01/05/51
43     ROY MICHAELSON JR  MICHAELSON JR  17/06/48
44     ROY MICHAELSON JR  MICHAELSON JR  09/04/47
45      THOMAS DUNCAN JR      DUNCAN JR  25/10/53
46       WILLIAM ASBY JR        ASBY JR  01/03/68
47         WILLIAM BLAND          BLAND  21/02/62
48      WILLIAM BLAND JR       BLAND JR  08/06/54
49      WILLIAM BLAND JR       BLAND JR  25/10/53
50  WILLIAM ROTHMEYER JR   ROTHMEYER JR  01/03/68
51     WILLIAM SALTER JR      SALTER JR  01/03/68
52    WILLIAM SHAFFER JR     SHAFFER JR  21/02/62
53    WILLIAM SHAFFER JR     SHAFFER JR  25/10/53
54      WILLIAM SMITH JR       SMITH JR  01/03/68